altgraph
certifi
chardet
darkdetect
et-xmlfile
future
idna
jdcal
macholib
openpyxl
pefile
pyinstaller
pyinstaller-hooks-contrib
PyQt6
pywin32-ctypes
requests
selenium
traceback-with-variables
urllib3
